{% extends 'base.html.twig' %}

{% block title %}Hello VueController!{% endblock %}

{% block body %}
<div>
           <div {{ vue_component('Hello', {'twigProps' : app.user.pseudo}) }}></div>
           <div class="bg-red-500 p-8" id="twig-vue">TWIG</div>
           </div>
{% endblock %}
