<h1>Bonjour! Veuillez confirmer votre adresse mail!</h1>

<p>
    Veuillez confirmer votre adresse mail! en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>
    Si jamais vous n'êtes pas à l'origine de l'inscription à notre site, veuillez ne pas tenir compte de cet email!
</p>

<p>
    Bonne journée!
</p>
