<footer class="bg-white shadow-sm  dark:bg-gray-800">
    <div class="w-full flex justify-center text-center mx-auto max-w-screen-xl p-4">
      <span class="text-sm text-center  text-gray-500  dark:text-gray-400">©Sortie-list 2025. All Rights Reserved.
    </span>
    </div>
</footer>
